
.mdiv{
    border-top: 1px solid grey;
	padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
@media (min-width : 1024px) {
    .mobile_fix {
        padding:24;
    }
a.warning {
    color: red;
}
}